<!DOCTYPE html>
<html>
<head>
  <title>JNews</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="jNews">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="collapse navbar-collapse pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li><a href="#/home">Home</a></li>
        <li ng-hide="signedIn()"><a href="#/login">Log In</a></li>
        <li ng-hide="signedIn()"><a href="#/register">Register</a></li>
        <li ng-show="signedIn()"><a href="#/">{{ user.username }}</a></li>
        <li ng-show="signedIn()"><a ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
    <div class="page-header">
      <h1>J News</h1>
    </div>
    <div ng-repeat="post in posts | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(post)"></span>
      {{post.upvotes}}
      <span style="font-size:20px; margin-left:10px;">
        <a ng-show='post.link' href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
        <span>
          <a href="#/posts/{{post.id}}">Comments</a>
        </span>
      </span>
    </div>

    <form ng-submit="addPost()"
      style="margin-top:30px;">
      <h3>Add a new post</h3>
      <input type="text" placeholder="Title" ng-model="title"></input>
      <br>
      <input type="text" placeholder="Link" ng-model="link"></input>
      <br>
      <button type="submit">Post</button>
    </form>
  </script>

  <script type="text/ng-template" id="/posts.html">
    <div class="page-header">
      <h3>
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
        <span>
          <a href="#/home">Home</a>
        </span>
      </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up"
      ng-click="incrementUpvotes(comment)"></span>
      {{comment.upvotes}} - by {{comment.author}}
      <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
    </div>

    <form ng-submit="addComment()"
      style="margin-top:30px">
      <h3>Add a new comment</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="comment"
        ng-model="body"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </script>

  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>Log In</h1>
    </div>

    <form ng-submit="login()">
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
      </div>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
      </div>
        <input type="submit" class="btn btn-default" value="Log In">
      </form>
  </script>

  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>Register</h1>
    </div>

    <form ng-submit="register()">
      <div class="input-group">
        <input type="email" class="form-control" placeholder="Email" ng-model="user.email">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
      </div>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
      </div>
      <input type="submit" class="btn btn-default" value="Register">
    </form>
  </script>
</body>
</html>
